* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

main {
  flex: 1;
}

#buttons {
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

#buttons button {
  padding: 2px 10px;
}